# Dependencies
node_modules/

# Wrangler
.wrangler/
.dev.vars
.mf/

# Environment variables
.env
.env.local
.env*.local

# Build output
dist/

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Temporary files
temp/
